<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Data</title>
</head>

<body>
    <h1 style="padding: 30px; align-items:center">Fetch Data</h1>
    <div class="idfetch" style="padding: 50px;"><form method="post" action="/fetch">
        <button type="submit">Fetch Data</button>
    </form>
    </div>
    <div class="view" style="padding: 30px; align-items: center;"><form method="get" action="/view">
        <button type="submit">View Data</button>
    </form></div>
</body>
</html>